body {
    text-align: center;
}

h1 {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 36px;
    color: #E84118;
}

h2 {
    font-family: Work Sans;
    font-weight: normal;
    font-size: 20px;
    color: #343434;
}

.button {
    width: 150px;
    height: 45px;
    background-color: #E84118;
    border-radius: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    color: #FFFF;
    font-size: 18px;
    font-family: Work Sans;
    display: table-cell;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #FFFF;
}

input {
    outline:none;
   }

.icons {
    display: inline-block;
    margin-top: 150px;
}

.profile {
    display: inline-block;
    margin-top: 0;
}

.chloe_icon {
    width: 85px;
    padding-right: 2px;
}

.sean_icon {
    width: 85px;
    padding-left: 2px;
}

.home {
    font-size: 40px;
    color: #E84118;
    background-color: transparent;
    border: none;
    float: left;
}

.form_field {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    width: 200px;
    padding: 10px 20px;
    margin: 5px 5px;
    border: 1px solid #E84118;
    border-radius: 45px;
}

.weeklyreflection .form_field {
    font-family: Roboto;
    font-size: 15px;
    width: 90%;
    padding: 10px 20px;
    margin: 5px 5px;
    text-align: left;
}

.container {
    width: 650px;
    height: auto;
    margin: 30px;
    padding: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #343434;
    display:inline-block;
}

#popup {
    width: 300px;
    padding-bottom: 50px;
}

.questions {
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    color: #343434;
}

.questions input {
    border: none;
}

#save_button {
    float: right;
}

.date_input {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #AAA2A0;
    margin-bottom: 30px;
    padding: 5px;
    width: 90%;
}