{% extends "base.html" %}

{% block content %}
    <div class="icons">
         <h1>Login to a whole new world</h1>
        <img class = "chloe_icon" src="{{ url_for('static', filename='img/Chloe icon.png') }}"/>
        <img class = "sean_icon" src="{{ url_for('static', filename='img/Sean icon.png') }}"/>
    </div>
    <form action ="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(class_="button") }}</p>
    </form>
<p>Want to sign up? <a href="{{url_for('register')}}">Click to Register!</a></p>
{% endblock %}