<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weekly Reflection</title>
    <link rel = "icon" href = "/Users/ChloeK/Desktop/Silvi/icons for Silvi/chulchon.png"> 
    <link rel="stylesheet" href="/Users/ChloeK/Desktop/Silvi/dev/silvi.css">
    <script src="https://kit.fontawesome.com/658ae97f7e.js" crossorigin="anonymous"></script>
</head>

<body class="weeklyreflection">
        <div class="home_button">
                <button class="home" type="submit"><i class="fas fa-home"></i></button>
        </div>
    
        <div style="clear: both"></div>
        
        <div class="profile">
                <input class="chloe_icon" type="image" src="/Users/ChloeK/Desktop/Silvi/Chloe icon.png" alt="Chloe icon">
        </div>

        <div>
            <h1>Weekly Reflection</h1>
        </div>

        <div>
            <form class="reflection_template" autocomplete="off">
                <div class="container">
                    
                    <div class = "questions">
                        <input class="date_input" type="text" name="title" placeholder="Title"><br>

                        🗓 Date<br>
                        <input class="form_field" type="text" name="date" placeholder="Write here"><br>

                        🌱 What did I learn last week?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        🍑 What was my greatest accomplishment over the past week?<br>
                        <input class="form_field" type="text" name="accomplishment" placeholder="Write here"><br>

                        😊 Which moment from last week was the most memorable and why?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        💪 What’s the #1 thing I need to accomplish this week?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        😼 What can I do right now to make the week less stressful?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        🙈 What have I been avoiding that needs to get done?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        🦋 Is there anyone I’ve been meaning to talk to?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        😌 How can I help someone else this coming week?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        🤗 What are my top 3 goals for the next 3 years?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        🕺Have any of my recent actions moved me closer to my goals?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        🌈 What am I looking forward to during the upcoming week?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        ✨ What am I most grateful for?<br>
                        <input class="form_field" type="text" name="learning" placeholder="Write here"><br>

                        </br><input class= "button" id="save_button" type="submit" value="Save"/>
                    </div>
                </div>
            </form>
        </div>
            
</body>

</html>