<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submission Successful</title>
    <link rel = "icon" href = "/Users/ChloeK/Desktop/Silvi/icons for Silvi/chulchon.png"> 
    <link rel="stylesheet" href="/Users/ChloeK/Desktop/Silvi/dev/silvi.css">
    <script src="https://kit.fontawesome.com/658ae97f7e.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="home_button">
                <button class="home" type="submit"><i class="fas fa-home"></i></button>
        </div>
    
        <div style="clear: both"></div>
        
        <div class="profile">
                <input class="chloe_icon" type="image" src="/Users/ChloeK/Desktop/Silvi/Chloe icon.png" alt="Chloe icon">
        </div>

        <div>
            <h1>Weekly Reflection</h1>
        </div>

        <div class="container" id="popup">
            <h1>Yay!</h1>
            <h2>Well done.</br>Keep up the good work.</h2>
            </br><input class= "button" type="submit" value="Back to Page"/>
        </div>
</body>
</html>