<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Silvi Log-in</title>
    <link rel = "icon" href = "/Users/ChloeK/Desktop/Silvi/icons for Silvi/chulchon.png"> 
    <link rel="stylesheet" href="/Users/ChloeK/Desktop/Silvi/dev/silvi.css">
    <script src="https://kit.fontawesome.com/658ae97f7e.js" crossorigin="anonymous"></script>
</head>
<body>
        <div class="home_button">
            <button class="home" type="submit"><i class="fas fa-home"></i></button>
        </div>

        <div style="clear: both"></div>
    
        <div class="icons">
            <input class="chloe_icon" type="image" src="/Users/ChloeK/Desktop/Silvi/Chloe icon.png" alt="Chloe icon">
            <input class="sean_icon" type="image" src="/Users/ChloeK/Desktop/Silvi/Sean icon.png" alt="Sean icon">
        </div>
        
        <span><h1 class="heading">Password por favor
        </h1></span>
    
        <form action=# method="post" autocomplete="off">
            <input class="form_field" type="text" placeholder="Username"/>
            </br><input class="form_field" type="text" placeholder="Password"/>
            </br><input class= "button" type="submit" value="Let's go"/>
        </form>
    </div>
</body>
</html>